$mainColor: #3C7;
body {
  margin: 0;
}

header {
  background-color: $mainColor;
  color: white;
  h1 {
    margin-top: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.container {
  display: flex;
  .leftSide {
    padding: 5px;
    width: 60%;
    h3 {
      margin-top: 3px;
      margin-left: 3px;
    }
    section {
      width: 100%;
      video {
        width: 100%;
      }
      ul {
        list-style: none;
        display: flex;
        margin-top: 0;
        li {
          margin-left: 3px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          background-color: beige;
          text-align: center;
          box-shadow: 1px 1px 1px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .code {
      margin-top: 20px;
      height: 100px;
      border: 1px black solid;
    }
    .comment {
      margin-top: 20px;
      height: 100px;
      border: 1px black solid;
    }
  }
  .rightSide {
    width: 40%;
    margin-right: 1%;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 8px;
    table {
      margin: 10px auto;
      width: 96%;
      border: 1px solid black;
      border-collapse: collapse;
      th,
      td {
        border: 1px solid black;
      }
      .time {
        width: 15%;
      }
      th {
        height: 40px;
        background-color: #CCC;
      }
      td {
        padding: 10px 5px;
      }
      tr {
        &:not(:first-child) {
          cursor: pointer;
        }
        &:hover {
          background-color: #AFC;
        }
        transition: all 0.5s 0s ease;
      }
      .nowPlay {
        color: $mainColor;
      }
    }
  }
}

#app {
  .el-main {
    margin-top: 10px;
    display: flex;
    .left {
      width: 60%;
      section {
        width: 100%;
        video {
          width: 100%;
        }
      }
    }
    .right {
      width: 40%;
      padding: 3px;
      padding-left: 20px;
    }
  }
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.nowPlay {
  color: $mainColor;
}
